<a [routerLink]="['/Book', { id: sample._id }]" class="sample {{ showButton ? 'sample_abbr' : '' }}">
    <div class="sample__heading">
        <span class="pull-right flag-icon flag-icon-{{ sample.lang }}"></span>
        <h3 class="sample__title">{{ sample.title.note }}</h3>
        <cite class="sample__author">{{ sample.author.note }}</cite>
    </div>

    <div class="sample__body words">
        <div class="words">
            <div *ngFor="#item of sample.annotations"><!--
            --><ruby *ngIf="item.note"><rtc>{{ item.note }}</rtc>{{ item.text }}</ruby><!--
            --><span *ngIf="!item.note">{{ item.text }}</span><!--
            --></div>
        </div>
    </div>

    <span class="btn sample__button">Read more</span>
</a>
