.sample {
    display: block;
    text-decoration: none;
    background: #fff;
    border: 1px solid #00ACED;
    border-radius: 4px;
    position: relative;
    height: 240px;
    overflow: hidden;
    margin-bottom: 20px;
    user-select: none;
}

.sample__heading {
    background: #008acc;
    padding: 10px 15px 5px;
}

.sample_abbr .sample__heading {
    background: #00ACED;
}

.sample__title {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
}

.sample__author {
    color: #fff;
    font-size: 16px;
    font-style: italic;
}

.sample__body {
    padding: 10px 15px;
}

.sample__body:after {
    content: '';
    display: block;
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.sample__button {
    display: none;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #00ACED;
    color: #fff;
}

.sample__button:hover {
    background: #008acc;
}

.sample_abbr .sample__button {
    display: block;
}

.words {
    text-align: justify;
}

.words div {
    display: inline;
}

.words span {
    color: #333;
    white-space: pre-line;
}

.words ruby {
    color: #333;
    line-height: 20px;
    cursor: pointer;
    text-align: center;
}

.words rtc {
    display: block;
    white-space: nowrap;
    color: #aaa;
    font-size: 12px;
    text-align: center;
}
