/* Full text view */
.book__text {
    font-size: 22px;
    background: #fff;
    color: #333;
    padding: 30px;
}

@media (max-width: 700px) {
    .book__text {
        margin: 0 -15px;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .book__text {
        padding-right: 150px;
        margin: 0 -15px;
    }
}

.book__controls {
    float: right;
    font-size: 14px;
}

.book__delete {
    cursor: pointer;
}

.book__delete:hover,
.book__delete:active {
    color: #E53B3A;
}

.book__heading {
    margin: 0 0 40px;
    padding: 5px 20px;
    font-size: 26px;
    font-weight: normal;
    border-left: 4px solid #008acc;
}

.book__title {
    margin-bottom: 5px;
}

.book__subtitle,
.book__author {
    font-size: 17px;
    display: block;
    color: #777;
}

.book__author {
    font-style: italic;
    margin-bottom: 5px;
}

/* Words */
.words {
    text-align: justify;
}

.words div {
    display: inline;
}

.words span {
    color: #333;
    white-space: pre-line;
}

.words ruby {
    color: #333;
    line-height: 20px;
    cursor: pointer;
    text-align: center;
}

.words ruby:hover {
    background: #b1e7f8;
    padding: 3px;
    margin: -3px;
}

.words rtc {
    display: block;
    white-space: nowrap;
    color: #aaa;
    font-size: 12px;
    text-align: center;
}

.words_hide-notes rtc {
    visibility: hidden;
}

.word_occur_0 rtc {
    color: #aaa;
}

.word_occur_1 rtc {
    color: #ccc;
}

.word_occur_2 rtc {
    color: #ddd;
}

.word_occur_3 rtc {
    color: #eee;
}

.word_occur_4 rtc {
    color: #fff;
}

.words ruby:hover rtc {
    color: #aaa;
}


/* Sidebar */
.book__sidebar-close {
    display: none;
}

@media (max-width: 991px) {
    .book__sidebar {
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #00ADEA;
        padding-left: 0;
        transform: translateX(-100%);
        transition: transform 300ms ease-out;
    }

    .book__sidebar_active {
        transform: translateX(0);
    }

    .book__sidebar-close {
        display: block;
        position: absolute;
        z-index: 1;
        right: 18px;
        top: 18px;
        cursor: pointer;
        font-size: 22px;
        color: #fff;
    }
}
