<div class="book">
    <div class="col-lg-8 book__text">
        <div class="book__controls">
            <div class="book__toggle-translation">
                <input id="toggle-translation" type="checkbox" [(ngModel)]="showTranslation" />
                <label for="toggle-translation">Display translation</label>
            </div>

            <div class="book__delete" (click)="remove()" *ngIf="!isSpecial">
                <i class="fa fa-trash"></i>
                Delete text
            </div>
        </div>

        <div *ngIf="title">
            <div class="book__heading">
                <cite class="book__author">{{ author.text }}</cite>
                <h3 class="book__title">{{ title.text }}</h3>
                <small class="book__subtitle">{{ title.note }}</small>
            </div>

            <div class="words {{ showTranslation ? '' : 'words_hide-notes' }}">
<div *ngFor="#item of annotations" id="item_{{ item.index }}" class="word_occur_{{ item.dupe || 0 }}"><!--
--><ruby *ngIf="item.note" (click)="selectTerm(item)"><rtc>{{ item.note }}</rtc>{{ item.text }}</ruby><!--
--><span *ngIf="!item.note">{{ item.text }}</span><!--
--></div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="book__sidebar {{ currentTerm ? 'book__sidebar_active' : '' }}" sticky>
            <definition [lang]="lang" [term]="currentTerm"></definition>

            <vocab [id]="id" (wordSelect)="selectTerm($event)"></vocab>

            <i class="fa fa-close book__sidebar-close" (click)="currentTerm = null"></i>
        </div>
    </div>
</div>

