<div class="container">
    <form name="form" class="new-text-form" (submit)="submit()">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title"
                   [(ngModel)]="model.title"
                   required
                   class="form-control input-lg"
                   placeholder="Voyage au Centre de la Terre" />
        </div>

        <div class="form-group">
            <label for="author">By</label>
            <input type="text" id="author" name="author"
                   [(ngModel)]="model.author"
                   required
                   class="form-control input-lg"
                   placeholder="Jules Verne" />
        </div>

        <div class="form-group">
            <label for="url">URL</label>
            <input type="url" id="url" name="url"
                   [(ngModel)]="model.url"
                   required
                   class="form-control input-lg"
                   placeholder="http://gutenberg.spiegel.de/buch/die-schonsten-kinder-und-hausmarchen-6248/1" />
        </div>

        <div class="form-group">
            <button type="button" (click)="loadFromUrl()" class="btn btn-block btn-lg" [disabled]="isSaving">Load from URL</button>
        </div>

        <div class="form-group">
            <label for="author"><i>Or</i> input the text <small>(max length 30 000 characters)</small></label>
            <textarea id="text" name="text" rows="10"
                      [(ngModel)]="model.text"
                      maxlength="30000" required
                      class="form-control input-lg"
                      placeholder="Le 24 mai 1863, un dimanche, mon oncle, le professeur Lidenbrock, revint précipitamment vers sa petite maison située au numéro 19 de Königstrasse, l’une des plus anciennes rues du vieux quartier de Hambourg."></textarea>
        </div>

        <div class="form-group">
            <label for="target">Translate into&nbsp;</label>

            <select id="target" name="target" class="input-lg" [(ngModel)]="model.target">
                <option *ngFor="#lang of languages" value="{{ lang.code }}" [selected]="lang.code == model.target">
                    {{ lang.name }}
                </option>
            </select>
            &nbsp;
            <big class="flag-icon flag-icon-{{ model.target }}"></big>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-block btn-lg" [disabled]="isSaving">Translate & save</button>
        </div>
    </form>
</div>
