.new-text-form {
    padding: 20px 0;
    color: #333;
}

.new-text-form label {
    color: #fff;
    font-size: 1.2em;
}

.new-text-form small {
    opacity: 0.5;
}

.new-text-form *:focus::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: transparent;
}

.new-text-form *:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: transparent;
}

.new-text-form *:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: transparent;
}

.new-text-form textarea {
    max-width: 100%;
}
