<div class="container">
    <div class="logo">
        <sup>i</sup>nterl<sub>i</sub>near<sup>io</sup>
    </div>

    <div class="row hero">
        <div class="col-md-8 col-md-offset-2">
            <p>Languages are best learned by&nbsp;reading. Native material is difficult when you just start, so we created a&nbsp;platform to&nbsp;read texts with <b>interlinear gloss</b> using machine translation. Words that you encounter are collected as <b>flash cards</b> for further study.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4" *ngFor="#sample of samples | async">
            <sample [sample]="sample" [showButton]="true"></sample>
        </div>
    </div>

    <div class="row">
        <div class="hero__big" ng-if="!userTexts">
            <a class="hero__btn btn btn-lg btn-transparent" href="/auth/facebook/login" target="_self">Sign up with Facebook</a>
            <span class="hero__label">to add your own texts!</span>
        </div>
    </div>
</div>
