.definition__heading {
    font-size: 18px;
    margin: 0;
    padding: 20px;
    color: #fff;
}

.definition__panel {
    background: #fff;
    color: #333;
    padding: 15px;
}

.definition__term {
    font-size: 16px;
    padding: 5px 10px;
    margin: 5px;
    margin-bottom: 20px;
    border-left: 4px solid #008acc;
}

.definition__term-note {
    font-style: italic;
    color: #777;
}

.definition__sections {
    font-size: 12px;
    overflow: auto;
    position: relative;
    height: 200px;
}

.definition__title {
    font-size: 16px;
}

.definition__spinner {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
