<div class="definition" *ngIf="term">
    <h3 class="definition__heading">Wiktionary</h3>

    <div class="definition__panel">
        <div class="definition__term">
            <span class="definition__term-text">{{ term.text }}</span>
            –
            <span class="definition__term-note">{{ term.note }}</span>
        </div>

        <div class="definition__sections">
            <div class="definition__spinner" *ngIf="!definition?.length">
                <div class="sk-three-bounce">
                    <div class="sk-child sk-bounce1"></div>
                    <div class="sk-child sk-bounce2"></div>
                    <div class="sk-child sk-bounce3"></div>
                </div>
            </div>

            <div class="definition__section" *ngFor="#section of definition">
                <h3 class="definition__title">{{ section.line }}</h3>
                <div class="definition__text" innerHtml="{{ section.text }}"></div>
            </div>
        </div>
    </div>
</div>
