<div class="login">
    <ul class="login__nav" *ngIf="profile">
        <li><a [routerLink]="['/Library']">Library</a></li>
        <li><a [routerLink]="['/AddBook']">New text</a></li>
        <!-- <li><a href="#">Flash cards</a></li> -->
    </ul>

    <div class="login__controls">
        <a *ngIf="!profile" class="login__log-in btn btn-sm btn-transparent"
           href="/auth/facebook/login" target="_self">Sign in</a>

        <div *ngIf="profile" class="login__user">
            <img class="login__picture"
                 src="https://graph.facebook.com/{{ profile.id }}/picture?type=square" />
            <a href="/auth/facebook/logout" target="_self" title="Sign out" class="login__name">{{ profile.displayName }}</a>
        </div>
    </div>
</div>
