.login__nav {
    display: inline-block;
    margin: 0 1em 0 0;
}

.login__nav li {
    font-size: 0.85rem;
    margin-left: 1em;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}

.login__nav a,
.login__nav a:hover,
.login__nav a:active,
.login__nav a:focus,
.login__nav a:visited {
    color: #fff;
    text-decoration: none;
}

.login__controls {
    display: inline-block;
    vertical-align: middle;
}

.login__picture {
    width: 28px;
    height: 28px;
    border-radius: 100%;
}

.login .dropdown-toggle {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.login__log-out {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px;
    line-height: 28px;
}

.login__name:hover,
.login__name:active,
.login__name:visited,
.login__name {
    font-size: 0.85rem;
    color: #fff;
    text-decoration: none;
}