.vocab {
    color: #333;
}

.vocab__heading {
    font-size: 18px;
    margin: 0;
    padding: 20px;
    color: #fff;
}

.vocab__item {
    background: #fff;
    padding: 15px;
    margin: -1px;
    border: 1px solid #00ADEA;
    position: relative;
    font-size: 14px;
}

.vocab__delete {
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.vocab__delete:active,
.vocab__delete:hover {
    color: #E53B3A;
}

.vocab__item:first-child {
    border-top: none;
}

.vocab__note {
    font-style: italic;
    color: #777;
}

.vocab__export {
    color: #b1e7f8;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin: 20px 0;
}

.vocab__export:hover {
    color: #fff;
}

