<div class="vocab">
    <h3 class="vocab__heading" *ngIf="!words.length">Hint: click/tap on words in the text</h3>

    <div class="row" *ngIf="words.length">
        <div class="col-xs-6">
            <h3 class="vocab__heading" *ngIf="words.length">Vocabulary</h3>
        </div>
        <div class="col-xs-6">
            <span class="vocab__export pull-right" (click)="exportVocab()">
                <i class="fa fa-download"></i> Export flashcards
            </span>
        </div>
    </div>

    <div class="vocab__list">
        <div class="vocab__item"
             *ngFor="#item of words"
             (click)="select(item)" [magnet]="'#' + item.id">
            <span class="vocab__text">{{ item.text }}</span> –
            <span class="vocab__note">{{ item.note }}</span>

            <i class="fa fa-trash vocab__delete" title="Delete" (click)="remove(item)"></i>
        </div>
    </div>
</div>
